<?xml version="1.0"?>
<config>
    <modules>
        <Ktpl_Discountpopup>
            <version>0.1.1</version>
        </Ktpl_Discountpopup>
    </modules>
    <frontend>
        <routers>
            <discountpopup>
                <use>standard</use>
                <args>
                    <module>Ktpl_Discountpopup</module>
                    <frontName>discountpopup</frontName>
                </args>
            </discountpopup>
        </routers>
        <layout>
            <updates>
                <discountpopup>
                    <file>discountpopup.xml</file>
                </discountpopup>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <discountpopup>
                                            <title>Discount Popup</title>
                                        </discountpopup>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
    <global>
        <models>
            <discountpopup>
                <class>Ktpl_Discountpopup_Model</class>
            </discountpopup>
        </models>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <event_column_append>
                        <type>model</type>
                        <class>Ktpl_Discountpopup_Model_Observer</class>
                        <method>appendMyNewCustomFiled</method>
                    </event_column_append>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <blocks>
            <discountpopup>
                <class>Ktpl_Discountpopup_Block</class>
            </discountpopup>
        </blocks>
        <helpers>
            <discountpopup>
                <class>Ktpl_Discountpopup_Helper</class>
            </discountpopup>
        </helpers>
        <resources>
            <discountpopup_setup>
                <setup>
                    <module>Ktpl_Discountpopup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </discountpopup_setup>
            <discountpopup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </discountpopup_write>
            <discountpopup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </discountpopup_read>
        </resources>
    </global>
</config>